@import url('https://fonts.googleapis.com/css2?family=Bona+Nova+SC:ital,wght@0,400;0,700;1,400&display=swap');

:root {

	--base-color: white;
	--base-variant: #e8e9ed;
	--text-color: #111528;
	--secondary-color: #232738;
	--primary-color: #3a435d;
	--accent-color: #0071ff;

}

.darkmode {

	--base-color: #070b1d;
	--base-variant: #101425;
	--text-color: #ffffff;
	--secondary-color: #a4a5b8;
	--primary-color: #3a435d;
	--accent-color: #0071ff;

}

* {

	margin: 0;
	padding: 0;

}

html {

	font-family: "Bona Nova SC", serif;
	font-size: 16px;
	color: var(--text-color);
	text-align: center;

}

body {

	min-height: 100vh;
	background-image: url(background.png);
	background-size: cover;
	background-position: right;
	overflow: hidden;

}

.wrapper {
	
	box-sizing: border-box;
	background-color: var(--base-color);
	height: 100vh;
	width: max(40%, 37.5rem);
	padding: 0.625rem;
	border-radius: 0 20px 20px 0;	
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: var(--text-color);

}

h1 {

	font-size: 3rem;
	font-weight: 900;
	text-transform: uppercase;
	color: var(--text-color);

}

form {

	width: min(25rem, 100%);
	margin-top: 1.25rem;
	margin-bottom: 3.125rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0.625rem;

}

form > div {

	width: 100%;
	display: flex;
	justify-content: center ;
}

form label {

	flex-shrink: 0;
	height: 3.125rem;
	width: 3.125rem;
	background-color: var(--accent-color);
	fill: var(--base-color);
	color: var(--base-color);
	border-radius: 10px 0 0 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.5rem;
	font-weight: 500;

}

form input {

	box-sizing: border-box;
	flex-grow: 1;
	min-width: 0;
	height: 3.125rem;
	padding: 1em;
	font: inherit;
	border-radius: 0 10px 10px 0;
	border: none;
	background-color: var(--base-variant);
	transition: 150ms ease;
	border: 2px solid var(--secondary-color);
	border-left: none;

}

form input:hover {

	border-color: var(--accent-color);

}

form input:focus {

	outline: none;
	border-color: var(--text-color);

}

div:has(input:focus) > label {

	background-color: var(--text-color);

}

form input::placeholder {

	color: var(--text-color);

}

form button {

	margin-top: 0.625rem;
	border: none;
	border-radius: 62.5rem;
	padding: .85em 4em;
	background-color: var(--accent-color);
	color: var(--text-color);
	font: inherit;
	font-weight: 600;
	text-transform: uppercase;
	cursor: pointer;
	transition: 150ms ease;

}

form button:hover {

	background-color: var(--text-color);

}

form button:focus {

	outline: none;
	background-color: var(--text-color);

}

a {

	text-decoration: none;
	color: var(--accent-color);

}

a:hover {

	text-decoration: underline;

}

@media(max-width: 1100px) {

	.wrapper {
		width: min(37.5rem, 100%);
		border-radius: 0;
	}
	
}

form div.incorrect label {

	background-color: #f06272;

}

form div.incorrect input {

	border-color: #f06272;

}

#error-message {

	color: #f06272;

}

#theme-switch {

	height: 3.125rem;
	width: 3.125rem;
	padding: 0;
	border-radius: 50%;
	background-color: var(--base-variant);
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 1.25rem;
	right: 1.25rem;

}

#theme-switch svg {

	fill: var(--text-color);

}

#theme-switch svg:last-child {

	display: none;

}

.darkmode #theme-switch svg:first-child {

	display: none;

}

.darkmode #theme-switch svg:last-child {

	display: block;

}